

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
.btn{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn button{
  background-color: green;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}
.btn button:hover  , button:hover{
  box-shadow: 0 0 10px grey;
}

table{
  border-collapse: collapse;
  margin-bottom: 10px;
}
td,th{
  border: 1px solid grey;
  padding: 10px;
  text-align: start;
}
table + button{
  background-color: crimson;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all .3s ease;
}